{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div
id="intro"
class="bg-image"
style="
       background-image: url(../static/img/intro-bg.jpg);
       height: 90vh;
       "
>
<div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">
<div class="container d-flex align-items-center text-center h-90">
 <div class="intro-message">
   <h1 class="mb-5">Admin Dashboard</h1>
   <p>
     idk lole
   </p>
 </div>
</div>
</div>
</div>

{% endblock %}